nav{
    margin-top:20px;
    text-align: center;
}

#form{
    margin-top: 20px;
}
#header-img{
    height:75px;
    width:100px;
}
.tit{
font-family: Arial, Helvetica, sans-serif;
color:yellow;
}
video{
    position: relative;
}
.icon {
    color:brown;
}
#form{
    text-align: center;
}
input{
    width:275px;
}

.nav-link{
    text-decoration-style: none;
    font-size: 30px;
    text-decoration-line:none;
    color: wheat;

}
.nav-link :hover{
    font-size: 40px;
    text-decoration-line: none;
}
 li{
     list-style-type: none;
    text-decoration-style: none;
    text-decoration-line: none;

}
li :hover{font-size: 30px;

}
body{
/*background-image:url("C:/Users/user2/Desktop/dev tracy/TRACY/TRACEE/cocktaildesign.jpg");*/
background-size: cover;
/*background:linear-gradient(10deg,grey,wheat)
color: wheat; */
background: linear-gradient(360deg,grey,rgba(0,0,0,0.9)),url("C:/Users/user2/Desktop/dev tracy/TRACY/TRACEE/cocktaildesign.jpg");
} 
body 
input{width:300px; height:40px;}
button{background-color:yellow;
color:black;
border-radius: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:90;
    padding: 5px 10px 5px 10px;
    text-decoration-line: none;}
#features{
    height: 400px;
    text-align: center;
    background:linear-gradient(10deg,yellow,wheat,white)

}
#video{
    margin-top: 40px;
    height: 300px;
}
#pricing{margin-top:40px;}
article{ min-width:100px;max-width: 300px;
height:250px;
background:linear-gradient(10deg,yellow,wheat,white);
display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 3% 3% 0;
    flex: 1;
    align-content: center;
}
footer{
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}